.shadow {
    box-shadow: 0px 3px 5px #aaaaaa;
  }
  .small {
    font-size: 0.75rem;
  }
  .large {
    font-size: 1.45rem;
  }
  .outline {
    border: 1px solid black;
    background-color: white;
    color: black;
  }
  .no-outline {
    border: none;
  }
  .danger {
    background-color: crimson;
    color: whitesmoke;
  }
  .info {
    background-color: blue;
    color: whitesmoke;
  }
  .success {
    background-color: green;
    color: whitesmoke;
  }
  .text-color {
    color: whitesmoke;
  }
  .round {
    border-radius: 4px;
    border: 1px solid lightgrey;
  }