.rectangle {
    background-image: url('../images/other/rectangle.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.screenshoot {
    background-image: url('../images/other/screenshoot.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.save {
    background-image: url('../images/other/save.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.read {
    background-image: url('../images/other/read.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.navigate_plus{
    background-image: url('../images/navigate_plus.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.navigate_minus {
    background-image: url('../images/navigate_minus.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}