html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: "Avenir Next", "Avenir", sans-serif;
}
label {
    display: block;
    margin-top: 10px;
}
#root, #main {
    width: 100%;
    height: 100%;
}
#header {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 10%;
    background-color: #e9e8e8;
    /* border-bottom: groove;
    border-width: thin; */
    cursor: default;
}
#toolbar {
    position: static;
    float: left;
    overflow: hidden;
    width: 80%;
    height: 10%;
    background-color: #f6f6f3;
    cursor: default;
}
#canvas {
    position: relative;
    float: left;
    overflow: hidden;
    width: 97%;
    height: 80%;
    background: url('../images/grid.gif');
    cursor: default;
}
#modal-form {
    position: absolute;
    float: left;
    overflow: hidden;
    width: 18%;
    height: 80%;
    right: 0%;
    background-color: #eeeeee;
    cursor: default;   
}
#objectSelector {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 10%;
    background-color: #ffffff;
    /* border-top: groove; */
    /* border-width: thin; */
    cursor: default;
}
.attrtool {
    position: relative;
    /* top: 10px;  */
    left: 100px;
    /* overflow: hidden; */
    width: 2vw;
    height: 2vw;
    margin-top: 100%;
    margin-left: 100%;
    cursor: pointer;
}

.attrblock{
    display: block;
}

/* try */